/* CSS is a mystery, lets just hope it works */

.App {
  text-align: left;
}

.box {
  position: relative; 
  width: 150px;
  height: 150px;
  background: white;
  color: black;
  border: 2px solid #000;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.top-left-number {
  position: absolute;
  top: 5px;
  left: 5px;
  font-weight: bold;
  font-size: 25px;
}

.box-data {
  margin-top:35px;
  margin-bottom:8px;
  margin-left: 5px;
  
  align-items: left;
  justify-content: left;
  height: 100%;
}

.name-data {
  margin-top:9px;
  font-size: 18px;
  white-space: 'pre-line'
}

.amount-data {
  margin:0px;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  text-align:left;
  font-size: calc(10px + 2vmin);
}